body{
    
}

#banner{
    width: 100%;
}

.principal{
    backgroud:   #cccccccccc
    padding:30px;
}

.titulo-principal{
    padding-left:20px;
}

.titulo-centralizado{
    text-align: center;
}

p {
    text-align;
}  

#missao{
    font-size:20px;
}

em strong {
    color:#ff0000;

}

.iten{
    font-style:italic;
}

beneficios{
    backgraund:  #ffffff;
    padding: 20px;
}

ul{
    display:inline-block;
    vertical-align: top;
    width: 20%:
    margin-right: 15%
}

.imagembeneficios{
    width: 50%;
}   
 